  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  table{
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  tr{
    display: flex;
  }

  
  td,
  th {
    border: solid 1px orange;
    display: flex;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
  }

  .highlight {
    background-color:rgb(218, 206, 206);
  }